<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Find my food{% endblock %}</title>

		{% load staticfiles %}
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> 
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.growl.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static 'js/jquery.growl.js' %}" ></script> 
		<script type="text/javascript" src="{% static 'js/management.js' %}" ></script> 
		<script type="text/javascript" src="{% static 'js/fmf.js' %}" ></script> 

		<link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="32x32" />
	</head>

	<body>
		{% if user.is_authenticated %}
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toogle="collapse" data-target="#topNavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'client:index' %}">
						<img src="{% static 'images/full-logo.png' %}" class="logo" style="width: 100px; "/>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="topNavBar">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="{% url 'client:index' %}">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								Clients
							</a>
						</li>
						<li class="">
							<a href="{% url 'truck:index' %}">
								<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
								Trucks
							</a>
						</li>


						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Complaints
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="">
									<a href="{% url 'complaint:clients' %}">
										<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
										Client complaint
									</a>
								</li>
								<li class="divider"></li>
								<li class="">
									<a href="{% url 'complaint:trucks' %}">
										<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
										Truck complaint
									</a>
								</li>
								<li class="divider"></li>
								<li class="">
									<a href="{% url 'complaint:index' %}">
										<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
										Manage complaint types
									</a>
								</li>
							</ul>
						</li>

						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Catalogs
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="">
									<a href="{% url 'catalog:food' %}">
										<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
										Food type
									</a>
								</li>
								<li class="divider"></li>
								<li class="">
									<a href="{% url 'catalog:cusine' %}">
										<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
										Cusine type
									</a>
								</li>
							</ul>
						</li>

						<li class="">
							<a href="#">
								<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
								Payments
							</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Welcome: {{ request.user.username }}</a>
						</li>
						<li>
							<a href="/account/logout/">
								<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
									Logout
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% endif %}
		<div id="main">
			{% block body %}
			{% endblock %}
		</div>
		<div id="clientprofile">
		</div>
		<div id="turckprofile"></div>

		<footer>
			<div class="footer1">
				<img src="{% static 'images/full-logo.png' %}" class="logo" style="width: 100px; "/>
			</div>
			<div class="footer2"><p>Find my food &copy; - All rights reserved<p></div>
		</footer>
	</body>
	
</html>