{% extends 'client/base.html' %}

{% block body %}

<script>
	$(function(){
		$("#btn-block").on("click", function(){
			if (confirm('Are you sure you want to block this user?')) {
				blockManagement({{ client.id }}, 0, "{% url 'client:blockManagement' %}");
			}
		});

		$("#btn-reactive").on("click", function(){
			if (confirm('Are you sure you want to unblock this user?')) {
				blockManagement({{ client.id }}, 1, "{% url 'client:blockManagement' %}");
			}
		});

		$(".truckResolution").on("click", function(){
			var id = $(this).attr("id").split("-")[1];
			if( $("#tr-" + id +  " option:selected").val() != "")
				truckResolveComplaint(id, $("#tr-" + id +  " option:selected").val(), "{% url 'truck:truckComplaintResolution' %}");
		});

		$(".clientResolution").on("click", function(){
			var id = $(this).attr("id").split("-")[1];
			if( $("#cr-" + id +  " option:selected").val() != "")
				clientResolveComplaint(id, $("#cr-" + id + " option:selected").val(), "{% url 'client:clientComplaintResolution' %}");
		});
	});

</script>

<h2>{{ client.name }} {{ client.lastname }}</h2>

<div class="col-lg-12 col-md-12">
	{% if client.picture != '' and  client.picture  != None %}
	<div class="col-lg-2 col-md-2 form-group">
		<img src="{{ client.picture }}" class="photo" />
	</div>
	{% endif %}
	<div class="col-lg-3 col-md-3">
		<p>Gender: {{ client.id_gender.gender }}</p>
		<p>Email: {{ client.email }}</p>
		<p>Phone: {{ client.phone }}</p>
		<p>Active since: {{ client.created_at }}</p>
	</div>
	<div class="col-lg-3 col-md-3">
		<p>Active: {{ client.active }}</p>
		<p>Application language in use: {{ client.id_language.language }}</p>
		<p>Device language in use: {{ client.registeredlanguage }}</p>
	</div>
</div>

<div class="col-lg-12 col-md-12">
	{% if client.active %}
		<input type="submit" value="Block this user" class="btn btn-primary" id="btn-block" />
	{% else %}
		<input type="submit" value="Reactive this user" class="btn btn-primary" id="btn-reactive" />
	{% endif %}
</div>

<div class="col-lg-12 col-md-12"><hr /> </div>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#option1">Complaints by me</a></li>
	<li><a data-toggle="tab" href="#option2">Complaints about {{ client.name }}</a></li>
	<li><a data-toggle="tab" href="#option6">Cusine preferences</a></li>
	<li><a data-toggle="tab" href="#option3">Search history</a></li>
	<li><a data-toggle="tab" href="#option4">Session history</a></li>
	<li><a data-toggle="tab" href="#option5">Orders history</a></li>
</ul>

<div class="tab-content">
	<div class="col-lg-12 col-md-12">
		<form method="GET" action="{% url 'client:detail' client.id %}" >
			<div class="form-group col-lg-1 col-md-1">
				<label>From date:</label>
			</div>
			<div class="form-group col-lg-2 col-md-2">
				<input type="date" class="form-control" name="fromdate" value="{{ fromdate }}" />
			</div>
			<div class="form-group col-lg-1 col-md-1">
				<label>To date:</label>
			</div>
			<div class="form-group col-lg-2 col-md-2">
				<input type="date" class="form-control" name="todate" value="{{ todate }}" />
			</div>
			<div class="form-group col-lg-2 col-md-2">
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>
		</form>
	</div>
	<div id="option1" class="tab-pane fade in active">
    	<h3>Complaints by me</h3>
    	<table class="table">
			<thead>
				<tr>
					<th>Reported to</th>
					<th>Complaint</th>
					<th>Date</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for tr in truckreports %}
				<tr>
					<td>{{ tr.id_truck.truckname }}</td>
					<td>{{ tr.id_reporttype.reporttype }}</td>
					<td>{{ tr.created_at }}</td>
					<td>
						<div class="col-lg-6 col-md-6">
							<select class="form-control" id="tr-{{ tr.id }}">
								<option selected="selected" disabled="disabled" value="">Select a resolution</option>
								{% for item in reportresolutions %}
								<option value="{{ item.id }}" {% ifequal tr.id_resolutiontype.id item.id %}selected{% endifequal %}>{{ item.resolution }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-lg-4 col-md-4">
							<input type="submit" id="btntr-{{ tr.id }}" value="Accept" class="btn btn-primary truckResolution" />
						</div>
					</td>
				</tr>
				{% endfor %}
				{% if truckreports.count == 0 %}
				<tr>
					<td colspan="100">The client has not any complaint registered</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
  	</div>
  	<div id="option2" class="tab-pane fade">
    	<h3>Complaints about {{ client.name }}</h3>
    	<table class="table">
			<thead>
				<tr>
					<th>Reported by</th>
					<th>Complaint</th>
					<th>Date</th>
					<th>Resolution</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for cr in clientreports %}
				<tr>
					<td>{{ cr.id_truck.truckname }} | {{ cr.id_client_truck.name }} {{ cr.id_client_truck.lastname }}</td>
					<td>{{ cr.id_reporttype.reporttype }}</td>
					<td>{{ cr.created_at }}</td>
					<td>
						<select class="form-control" id="cr-{{ cr.id }}">
							<option selected="selected" disabled="disabled">Select a resolution</option>
							{% for item in reportresolutions %}
							<option value="{{ item.id }}" {% ifequal cr.id_resolutiontype.id item.id %}selected{% endifequal %}>{{ item.resolution }}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="submit" value="Accept" class="btn btn-primary clientResolution" id="btncr-{{ cr.id }}" />
					</td>
				</tr>
				{% endfor %}
				{% if clientreports.count == 0 %}
				<tr>
					<td colspan="100">The client has not any complaint registered</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
  	</div>
  	<div id="option3" class="tab-pane fade">
  		<h3>Search history</h3>
  		<table class="table">
  			<thead>
  				<tr>
  					<th>Searched terms</th>
  					<th>Searched date</th>
  					<th>Device</th>
  					<th>Location</th>
  				</tr>
  			</thead>
  			<tbody>
  				{% for item in search %}
	  			<tr>
	  				<td>{{ item.searchedtext }}</td>
	  				<td>{{ item.created_at }}</td>
	  				<td>{{ item.id_usersession.id_device.device }}</td>
	  				<td>{{ item.id_usersession.latitude }},{{ item.id_usersession.longitude }}</td>
	  			</tr>
	  			{% endfor %}
	  			{% if search.count == 0%}
	  			<tr>
	  				<td colspan="100">The client has no any search</td>
	  			</tr>
	  			{% endif %}
  			</tbody>
  		</table>
  	</div>
  	<div id="option4" class="tab-pane fade">
  		<h3>Session history</h3>
  		<table class="table">
  			<thead>
  				<tr>
  					<th>Date</th>
  					<th>Device</th>
  					<th>Location</th>
  					<th></th>
  				</tr>
  			</thead>
  			<tbody>
  				{% for item in sessions %}
  				<tr>
  					<td>{{ item.created_at }}</td>
  					<td>{{ item.id_device.device }}</td>
  					<td>{{ item.latitude }},{{ item.longitude }}</td>
  					<td><a href="#">View on map</a></td>
  				</tr>
  				{% endfor %}
  				{% if sessions.count == 0%}
	  			<tr>
	  				<td colspan="100">The client has no any search</td>
	  			</tr>
	  			{% endif %}
  			</tbody>
  		</table>
  	</div>
	<div id="option5" class="tab-pane fade">
    	<h3>Orders</h3>
    	<table class="table">
			<thead>
				<tr>
					<th>Truck name</th>
					<th>Date</th>
					<th>Status</th>
					<th>Ammount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="100">This feaute is under development</td>
				</tr>
			</tbody>
		</table>
  	</div>
  	<div id="option6" class="tab-pane fade">
    	<h3>Cusine preferences</h3>
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Preferences</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for item in cusinepreferences %}
    			<tr>
    				<td>{{ item.id_cusinetype.trucktype_en }}</td>
    			</tr>
    			{% endfor %}
    			{% if cusinepreferences.count == 0 %}
    			<tr>
    				<td>The client has no added any cuisine preference</td>
    			</tr>
    			{% endif %}
    		</tbody>
    	</table>
    		
    	</ul>
  	</div>
</div>

{% endblock %}