{% extends 'client/base.html' %}

{% block body %}

<div class="col-lg-12 col-md-12 col-sm-12">
	<form method="get">
		{% csrf_token %}
		<fieldset>
			<legend>Client management</legend>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Name</label>
				<input name="clientname" type="text" class="form-control" value="{{ clientname }}" />
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Gender</label>
				<select name="gender" class="form-control">
					<option value="">All</option>
					{% for item in genders %}
					<option value="{{ item.id }}" {% ifequal gender item.id %}selected{% endifequal %}>{{ item.gender }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Language in use</label>
				<select name="language" class="form-control">
					<option value="">All</option>
					{% for item in languages %}
					<option value="{{ item.id }}" {% ifequal language item.id %}selected{% endifequal %}>{{ item.language }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Client status</label>
				<select name="clientstatus" class="form-control">
					<option value="">All</option>
					<option value="1" {% ifequal clientstatus "1" %}selected{% endifequal %}>Active</option>
					<option value="0" {% ifequal clientstatus "0" %}selected{% endifequal %}>Inactive</option>
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Registered since</label>
				<input name="fromdate" value="{{ fromdate }}" type="date" class="form-control" />
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Registered to</label>
				<input name="todate" type="date" value="{{ todate }}" class="form-control" />
			</div>
			<div class="col-lg-12 col-md-12 form-group">
				<input type="submit" value="Filter clients" class="btn btn-primary" />
			</div>
		</fieldset>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Registered date</th>
			<th>Registered language</th>
			<th>Language in use</th>
			<th>Is active?</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for client in clients %}
		<tr>
			<td>{{ client.name }} {{ client.lastname }}</td>
			<td>{{ client.email }}</td>
			<td>{{ client.id_gender.gender }}</td>
			<td>{{ client.created_at }}</td>
			<td>{{ client.registeredlanguage }}</td>
			<td>{{ client.id_language.language }}</td>
			<td>{{ client.active }}</td>
			<td><a href="{% url 'client:detail' client.id %}">Manage</a></td>
		</tr>
		{% endfor %}
		{% if clients.count == 0 %}
		<tr>
			<td colspan="100">No clients were found with the current filters</td>
		</tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}