{% extends "client/base.html" %}

{% block body %}
  {{ block.super }}

  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 padding-0 shadow callback-form">
    <br /><br />

    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3" id="login-box">
      <h3 class="center">FIND MY FOOD</h3>
      {{ form.non_field_errors }}

      <br />
      <form method="POST">
        {% csrf_token %}
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 form-group">
          <label>Email:</label> <br />
          <input type="text" name="username" placeholder="your-email@domain.com" class="form-control" />
          {{ form.errors.username }}
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 form-group">
          <label>Password:</label> <br />
          <input type="password" name="password" placeholder="Your password" class="form-control" />
          {{ form.errors.password }}
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 form-group">
          <input type="submit" value="Login" class="btn btn-success" />
        </div>
      </form>
      <div class="col-lg-11 col-md-11 col-lg-offset-1 col-md-offset-1 ">
        <br />
        <!--<p>Do you want create an account? <a href="/accounts/signup">Sign Up</a></p>-->
        <p>You forgot your password? <a href="/accounts/restorepassword">Password recovery</a></p>
      </div>
    </div>
  </div>

{% endblock body %}