{% extends 'client/base.html' %}

{% block body %}

<script>
	$(function(){
		$(".clientResolution").on("click", function(){
			var id = $(this).attr("id").split("-")[1];
			if( $("#cr-" + id +  " option:selected").val() != "")
				clientResolveComplaint(id, $("#cr-" + id + " option:selected").val(), "{% url 'client:clientComplaintResolution' %}");
		});
	});
</script>

<div class="col-lg-12 col-md-12 col-sm-12">
	<form method="GET">
		<fieldset>
			<legend>Registered client complaints</legend>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Client name</label>
				<input type="text" class="form-control" name="clientname" value="{{ clientname }}" />
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Truck</label>
				<input type="text" class="form-control" name="truckname" value="{{ truckname }}"/>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Complaint type</label>
				<select class="form-control" name="complainttype">
					<option value="">All</option>
					{% for item in reporttypes %}
					<option value="{{ item.id }}" {% ifequal complainttype item.id %}selected{% endifequal %}>{{ item.reporttype }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Status</label>
				<select name="complaintstatus" class="form-control">
					<option value="1" {% ifequal complaintstatus 1 %}selected{% endifequal %}>Active</option>
					<option value="0" {% ifequal complaintstatus 0 %}selected{% endifequal %}>Resolved</option>
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Reported since</label>
				<input type="date" class="form-control" name="fromdate" value="{{ fromdate }}" />
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Reported to</label>
				<input type="date" class="form-control" name="todate" value="{{ todate }}" />
			</div>
			<div class="col-lg-12 col-md-12 form-group">
				<input type="submit" value="Filter complaints" class="btn btn-primary" />
			</div>
		</fieldset>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Reported by</th>
			<th>Reported to</th>
			<th>Complaint</th>
			<th>Date</th>
			<th>Resolution</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for cr in clientreports %}
		<tr>
			<td>{{ cr.id_truck.truckname }} | {{ cr.id_client_truck.name }} {{ cr.id_client_truck.lastname }} </td>
			<td>{{ cr.id_client_reported.name }} {{ cr.id_client_reported.lastname }}</td>
			<td>{{ cr.id_reporttype.reporttype }}</td>
			<td>{{ cr.created_at }}</td>
			<td>
				<div class="col-lg-6 col-md-6">
					<select class="form-control" id="cr-{{ cr.id }}">
						<option selected="selected" disabled="disabled">Select a resolution</option>
						{% for item in reportresolutions %}
						<option value="{{ item.id }}" {% ifequal cr.id_resolutiontype.id item.id %}selected{% endifequal %}>{{ item.resolution }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-lg-4 col-md-4">
					<input type="submit" value="Accept" class="btn btn-primary clientResolution" id="btncr-{{ cr.id }}" />
				</div>
			</td>
		</tr>
		{% endfor %}
		{% if clientreports.count == 0 %}
		<tr>
			<td colspan="100">No client compalaints were found with the current filters</td>
		</tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}