{% extends 'client/base.html' %}

{% block body %}

<script>
	$(function(){
		$(".upudate-rt").on("click", function() {
			var id = $(this).attr("id").split("-")[1];
			var data = $("#rt-" + id + " :input[type='checkbox']");
			var forclient = ($("#rt-" + id + " [name=forclient]").prop("checked") == true) ? 1 : 0;
			var fortruck = ($("#rt-" + id + " [name=fortruck]").prop("checked") == true) ? 1 : 0;
			var active = ($("#rt-" + id + " [name=active]").prop("checked") == true) ? 1 : 0;
			
			$.ajax({
 				type: 'POST',
 				dataType: 'json',
 				url: "{% url 'complaint:updatecomplaint' %}",
 				data: {id: id, forclient: forclient, fortruck: fortruck, active: active },
 				success: function(data) {
 					$.growl({ title: "Find my food", message: "The complaint was updated." });
 				}
			});
		});
	});
</script>

<fieldset>
	<legend>Complaints</legend>
</fieldset>

<table class="table">
	<thead>
		<tr>
			<th>Complaint name</th>
			<th>Available for clients</th>
			<th>Available for trucks</th>
			<th>Active</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for rt in reporttypes %}
		<tr id="rt-{{ rt.id }}">
			<td>{{ rt.reporttype }}</td>
			<td>
				{% if rt.forclient == False %}
				<input type="checkbox" name="forclient" />
				{% else %}
				<input type="checkbox" checked="checked" name="forclient" />
				{% endif %}
			</td>
			<td>
				{% if rt.fortruck == False %}
				<input type="checkbox" name="fortruck" />
				{% else %}
				<input type="checkbox" checked="checked" name="fortruck" />
				{% endif %}
			</td>
			<td>{% if rt.active == False %}
				<input type="checkbox" name="active" />
				{% else %}
				<input type="checkbox" checked="checked" name="active" />
				{% endif %}</td>
			<td> <input type="button" value="Update" class="btn btn-primary upudate-rt" id="urt-{{ rt.id }}" /> </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}