{% extends 'client/base.html' %}

{% block body %}

<fieldset>
	<legend>Cusine type catalog</legend>
</fieldset>

<table class="table">
	<thead>
		<tr>
			<th>Food type (English)</th>
			<th>Food type (Spanish)</th>
			<th>Is active?</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for item in cusinetypes %}
		<tr>
			<td>{{ item.trucktype_en }}</td>
			<td>{{ item.trucktype_es }}</td>
			<td>{{ item.active }}</td>
			<td></td>
			<td> <input type="submit" value="Update" class="btn btn-primary" /> </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}