@font-face {
    font-family: 'ionicons';
    src: url('fonts/ionicons.eot');
    src: url('fonts/ionicons.woff') format('woff'), url('fonts/ionicons.ttf') format('truetype');
}

html, body, *{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

html, body {
    margin-bottom: 100px;
}

::selection {
    background: #9d0600;
    color: white;
}

div#main {
    padding-left: 10px;
    padding-right: 10px;
}

thead {
    background: #9e0000;
    color: white;
    text-transform: uppercase;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: #337ab7;
}

a:visited {
	color: #337ab7;
}

.table>thead>tr>th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table>tfoot>tr>td {
    color: #9e0000;
    text-align: right;
}

footer {
    margin-top: 100px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer1 {
    height: 25px;
}

.footer2 {
    background: black;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.footer2 p {
    font-size: 10px;
}

.logo {
    -webkit-filter: drop-shadow(3px 3px 3px #3e3e3e);
    filter: drop-shadow(3px 3px 3px #3e3e3e);
}

#login-box {
    background: #9d0600;
    border-bottom: 7px solid #a49b85;
    box-shadow: 5px 6px 13px #b3b2b2;
}

#login-box label, #login-box a, #login-box p, #login-box h3, #login-box li {
    color: white;
}

#login-box h3 {
    text-transform: uppercase;
}

#login-box a {
    text-decoration: underline;
}

#login-box .btn-success {
    background: #a49b85;
    text-transform: uppercase;
}

/* JQUERY COMPONENTS */
.growl.growl-default {
    color: #FFF;
    background: #337ab7;
}

.center {
    text-align: center;
}

.photo {
    border-radius: 10000px;
    width: 150px;
    box-shadow: 4px 5px 15px #b1afaf;
    border: 5px solid #f3f3f3;
    height: 150px;
}

/* BOOTSTRAP OVERRIDES */
.navbar {
	border-radius: 0;
    margin-bottom: 30px;
}

.navbar-inverse {
    background-color: #9e0000;
    border-color: #9e0000;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #840101;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #9e0000;
    border-color: #000000;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-primary:hover {
    background-color: #900505;
}

h2 .glyphicon-star {
    font-size: 25px;
    color: gold;
    text-shadow: 1px 1px 2px #bdbdbd;
}

.glyphicon-star {
    color: gold;
    text-shadow: 1px 1px 2px #bdbdbd;
}

/**** Jquery UI ****/
.ui-corner-all {
    border-radius: 0px;
}

.ui-widget-header {
    background: #9e0000;
}

.ui-widget-overlay {
    opacity: .7;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Raleway', sans-serif!important;
}