{% extends 'client/base.html' %}

{% block body %}

<script>
	$(function(){

		$(".truckResolution").on("click", function(){
			var id = $(this).attr("id").split("-")[1];
			if( $("#tr-" + id +  " option:selected").val() != "")
				truckResolveComplaint(id, $("#tr-" + id +  " option:selected").val(), "{% url 'truck:truckComplaintResolution' %}");
		});

		$(".clientResolution").on("click", function(){
			var id = $(this).attr("id").split("-")[1];
			if( $("#cr-" + id +  " option:selected").val() != "")
				clientResolveComplaint(id, $("#cr-" + id + " option:selected").val(), "{% url 'client:clientComplaintResolution' %}");
		});

		$("#generalinformation").dialog({
			autoOpen: false,
			width: "800px", 
			modal: true
		});

		$("#menuitem").dialog({
			autoOpen: false,
			width: "800px",
			modal: true
		});

		$("#egi").on("click", function(){
			$("#generalinformation").dialog("open");
		});

		$(".manage-menu").on("click", function(){
			var id = $(this).attr("id").split("-")[1];
			getMenuItemById(id, function(data){
				var keys = Object.keys(data);
				for(var i = 0; i < keys.length; i++){
					$("#" + keys[i]).val(data[keys[i]]);
				}
				$('#active').prop('checked', (data["active"] == true));
				$("#menuid").val(data["id"]);
				if($("#specialprice").val() == "0" )
					$("#specialprice").val("");
				
				$("#image").attr("src", data["picture"]);
				$("#menuitem").dialog("open");
			});
		});

		$("#btn-block").on("click", function(){
			if (confirm('Are you sure you want to block this truck?')) {
				blockManagement({{ truck.id }}, 0, "{% url 'truck:blockManagement' %}");
			}
		});

		$("#btn-reactive").on("click", function(){
			if (confirm('Are you sure you want to unblock this truck?')) {
				blockManagement({{ truck.id }}, 1, "{% url 'truck:blockManagement' %}");
			}
		});

		$("#upm-submit").on("click", function(){
			var data = $('#updateMenuItem').serializeArray();
			$.ajax({
 				type: 'POST',
 				dataType: 'json',
 				url: "{% url 'truck:updateMenuItem' %}",
 				data: data,
 				success: function(data) {
 					var keys = Object.keys(data);
 					console.log(data);
					for(var i = 0; i < keys.length; i++){
						$("#row-" + data["id"] + " ." + keys[i]).text(data[keys[i]]);
					}
					$("#menuitem").dialog("close");
					$.growl({ title: "Find my food", message: "The menu was updated." });
 				}
			});
		});

		$(".btn-block").on("click", function() {
			var id = $(this).attr("id").split("-")[1];
			if (confirm('Are you sure you want to block this user?')) {
				blockManagement(id, 0, "{% url 'client:blockManagement' %}");
			}
		});

		$(".btn-reactive").on("click", function() {
			var id = $(this).attr("id").split("-")[1];
			if (confirm('Are you sure you want to unblock this user?')) {
				blockManagement(id, 1, "{% url 'client:blockManagement' %}");
			}
		});
	});

	function getMenuItemById(id, callback){
		$.ajax({
			dataType: "json",
			url: "{% url 'truck:menu' %}",
			data: {id: id},
			success: function(data){
				callback(data);
			}
		});
	}
</script>

<h2>
	{{ truck.truckname }} 
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</h2>

<div class="col-lg-12 col-md-12">
	{% if truck.trucklogo != '' and  truck.trucklogo  != None %}
	<div class="col-lg-2 col-md-2 form-group">
		<img src="{{ truck.trucklogo }}" class="photo" />
	</div>
	{% endif %}
	<div class="col-lg-3 col-md-3">
		<p>Email: {{ truck.businessemail }}</p>
		<p>Address: {{ truck.businessaddress }}</p>
		<p>Phone: {{ truck.phone }}</p>
		<p>Is 24 available: {{ truck.allday }}</p>
	</div>
	<div class="col-lg-3 col-md-3">
		<p>Active: {{ truck.active }}</p>
		<p>Confirmed: {{ truck.confirmed }}</p>
		<p>Active since: {{ truck.created_at }}</p>
	</div>
</div>

<div class="col-lg-6 col-md-6">
	<h3>English description</h3>
	<p>Description: {{ truck.description_en }}</p>
	<p>Cusine type: {{ truck.id_cusinetype.trucktype_en }}</p>
</div>
<div class="col-lg-6 col-md-6">
	<h3>Spanish description</h3>
	<p>Description: {{ truck.description_es }}</p>
	<p>Cusine type: {{ truck.id_cusinetype.trucktype_es }}</p>
</div>

<div class="col-lg-12 col-md-12">
	<p><a href="#" id="egi">Edit general information</a></p>
</div>

<div class="col-lg-2 col-md-2">
	{% if truck.active %}
		<input type="submit" value="Block this truck" class="btn btn-primary" id="btn-block" />
	{% else %}
		<input type="submit" value="Reactive this truck" class="btn btn-primary" id="btn-reactive" />
	{% endif %}
</div>

<div class="col-lg-12 col-md-12"><hr /> </div>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#option1">Complaints by me</a></li>
	<li><a data-toggle="tab" href="#option2">Complaints about {{ truck.truckname }}</a></li>
	<li><a data-toggle="tab" href="#option3">Menu</a></li>
	<li><a data-toggle="tab" href="#option6">Members</a></li>
	<li><a data-toggle="tab" href="#option7">Feedback</a></li>
	<li><a data-toggle="tab" href="#option4">Location history</a></li>
	<li><a data-toggle="tab" href="#option5">Proccesed Orders</a></li>
</ul>

<div class="tab-content">
	<div class="col-lg-12 col-md-12">
		<form method="GET" action="{% url 'truck:detail' truck.id %}" >
			<div class="form-group col-lg-1 col-md-1">
				<label>From date:</label>
			</div>
			<div class="form-group col-lg-2 col-md-2">
				<input type="date" class="form-control" name="fromdate" value="{{ fromdate }}" />
			</div>
			<div class="form-group col-lg-1 col-md-1">
				<label>To date:</label>
			</div>
			<div class="form-group col-lg-2 col-md-2">
				<input type="date" class="form-control" name="todate" value="{{ todate }}" />
			</div>
			<div class="form-group col-lg-2 col-md-2">
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>
		</form>
	</div>
	<div id="option1" class="tab-pane fade in active">
    	<h3>Complaints by me</h3>
    	<table class="table">
			<thead>
				<tr>
					<th>Reported by</th>
					<th>Reported to</th>
					<th>Complaint</th>
					<th>Date</th>
					<th>Resolution</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for cr in clientreports %}
				<tr>
					<td>{{ cr.id_truck.truckname }} | {{ cr.id_client_truck.name }} {{ cr.id_client_truck.lastname }}</td>
					<td>{{ cr.id_client_reported.name }} {{ cr.id_client_reported.lastname }}</td>
					<td>{{ cr.id_reporttype.reporttype }}</td>
					<td>{{ cr.created_at }}</td>
					<td>
						<div class="col-lg-6 col-md-6">
							<select class="form-control"  id="cr-{{ cr.id }}">
								<option selected="selected" disabled="disabled">Select a resolution</option>
								{% for item in reportresolutions %}
								<option value="{{ item.id }}" {% ifequal cr.id_resolutiontype.id item.id %}selected{% endifequal %}>{{ item.resolution }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-lg-4 col-md-4">
							<input type="submit" value="Accept" class="btn btn-primary clientResolution" id="btncr-{{ cr.id }}" />
						</div>
					</td>
				</tr>
				{% endfor %}
				{% if clientreports.count == 0 %}
				<tr>
					<td colspan="100">The client has not any complaint registered</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
  	</div>
  	<div id="option2" class="tab-pane fade">
    	<h3>Complaints about {{ truck.truckname }}</h3>
    	<table class="table">
			<thead>
				<tr>
					<th>Reported by</th>
					<th>Complaint</th>
					<th>Date</th>
					<th>Status</th>
					<th>Resolution</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for tr in truckreports %}
				<tr>
					<td>{{ tr.id_client.name }} {{ tr.id_client.lastname }}</td>
					<td>{{ tr.id_reporttype.reporttype }}</td>
					<td>{{ tr.created_at }}</td>
					<td>Open</td>
					<td>
						<div class="col-lg-6 col-md-6">
							<select class="form-control"  id="tr-{{ tr.id }}">
								<option selected="selected" disabled="disabled">Select a resolution</option>
								{% for item in reportresolutions %}
								<option value="{{ item.id }}" {% ifequal tr.id_resolutiontype.id item.id %}selected{% endifequal %}>{{ item.resolution }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-lg-4 col-md-4">
							<input type="submit" id="btntr-{{ tr.id }}" value="Accept" class="btn btn-primary truckResolution" />
						</div>
					</td>
				</tr>
				{% endfor %}
				{% if truckreports.count == 0 %}
				<tr>
					<td colspan="100">The client has not any complaint registered</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
  	</div>
  	<div id="option3" class="tab-pane fade">
  		<h3>Menu</h3>
  		<table class="table">
			<thead>
				<tr>
					<th>Item (English)</th>
					<th>Item (Spanish)</th>
					<th>Description</th>
					<th>Food type</th>
					<th>Price</th>
					<th>Publication date</th>
					<th>Published</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in menu %}
				<tr id="row-{{item.id}}">
					<td class="title_en">{{ item.title_en }}</td>
					<td class="title_es">{{ item.title_es }}</td>
					<td><u>English: </u><span class="description_en">{{ item.description_en }}</span> <br /> <u>Spanish: </u><span class="description_es">{{ item.description_es }} </span></td>
					<td><span class="foodtype_en">{{ item.id_foodtype.foodtype_en }}</span> | <span class="foodtype_es">{{ item.id_foodtype.foodtype_es }}</span></td>
					<td class="price">$ {{ item.price }}</td>
					<td>{{ item.created_at }}</td>
					<td class="mactive">{{ item.active }}</td>
					<td><a id="m-{{item.id}}" class="manage-menu">Manage</a></td>
				</tr>
				{% endfor %}
				{% if menu.count == 0 %}
				<tr>
					<td colspan="100">This truck has no menu yet.</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
  	</div>
  	<div id="option6" class="tab-pane fade">
    	<h3>Team members </h3>
    	<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Role</th>
					<th>Registration date</th>
					<th>Is active?</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for tm in truckmembers %}
				<tr>
					<td>{{ tm.id_client.name }} {{ tm.id_client.lastname }}</td>
					<td>{{ tm.id_clienttype.type }}</td>
					<td>{{ tm.created_at }}</td>
					<td>{{ tm.active }}</td>
					<td>
						{% if tm.id_client.active %}
							<input type="submit" value="Block this user" class="btn btn-primary btn-block" id="bl-{{ tm.id_client.id }}" />
						{% else %}
							<input type="submit" value="Reactive this user" class="btn btn-primary btn-reactive"  id="bl-{{ tm.id_client.id }}" />
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% if truckmembers.count == 0 %}
				<tr>
					<td colspan="100">This truck has no members yet.</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
  	</div>
  	<div id="option7" class="tab-pane fade">
    	<h3>Feedback</h3>
    	<table class="table">
			<thead>
				<tr>
					<th style="min-width: 200px; ">Received by</th>
					<th>Message</th>
					<th style="min-width: 100px; ">Score</th>
					<th style="min-width: 200px; ">Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if truckfeedbacks.count == 0 %}
				<tr>
					<td colspan="100">This truck has not any feedback</td>
				</tr>
				{% endif %}
				{% for item in truckfeedbacks %}
				<tr>
					<td>{{ item.id_client.name }} {{ item.id_client.lastname }}</td>
					<td>{{ item.feedback }}</td>
					<td>{{ item.score }}</td>
					<td>{{ item.created_at }}</td>
				</tr>
				{% endfor %}
				{% if truckfeedbacks.count == 0 %}
				<tr>
					<td colspan="100">This truck has no feedback yet.</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
  	</div>
  	<div id="option4" class="tab-pane fade">
  		<h3>Location history is under construction</h3>
  	</div>
	<div id="option5" class="tab-pane fade">
    	<h3>Orders</h3>
    	<table class="table">
			<thead>
				<tr>
					<th>Truck name</th>
					<th>Date</th>
					<th>Status</th>
					<th>Ammount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="100">This feaute is under development</td>
				</tr>
			</tbody>
		</table>
  	</div>
</div>

<div id="generalinformation">
	<h3>Edit general information</h3>
	<form action="{% url 'truck:updateTruck' %}" method="post">
		{% csrf_token %}
		<div class="col-lg-12 col-md-12 form-group">
			<p>
				Truck name:
				<input type="text" class="form-control" name="t_truckname" value="{{ truck.truckname }}" />
			</p>
			<input type="hidden" name="t_id" value="{{truck.id}}" />
			<p>
				Email: 
				<input type="text" class="form-control" name="t_businessemail" value="{{ truck.businessemail }}" />
			</p>
			<p>
				Address: 
				<input type="text" class="form-control" name="t_businessaddress" value="{{ truck.businessaddress }}" /> 
			</p>
			<p>
				Phone: 
				<input type="text" class="form-control" name="t_phone" value="{{ truck.phone }}" /> 
			</p>
			<p>
				Cusine type:
				<select class="form-control" name="cusinetype">
					{% for ct in cusinetypes %}
					<option value="{{ ct.id }}" {% ifequal ct.id truck.id_cusinetype.id %}selected{% endifequal %}>{{ ct.trucktype_en }}</option>
					{% endfor %}
				</select>
			</p>
		</div>

		<div class="col-lg-6 col-md-6">
			<p>English description: <textarea rows="4" class="form-control" name="t_description_en">{{ truck.description_en }}</textarea> </p>
		</div>
		<div class="col-lg-6 col-md-6">
			<p>Spanish description: <textarea rows="4" class="form-control" name="t_description_es">{{ truck.description_es }}</textarea> </p>
		</div>
		<div class="col-lg-12 col-md-12 form-group">
			<p>
			Is this truck 24 hours available?
			{% if truck.allday %}
			<input type="checkbox" name="allday" checked="checked" />
			{% else %}
			<input type="checkbox" name="allday" />
			{% endif %}
			</p>
		</div>
		<div class="col-lg-12 col-md-12 form-group">
			<input type="submit" class="btn btn-primary" id="gif-submit" value="Save changes" />
		</div>
	</form>
</div>

<div id="menuitem">
	<h3>Edit menu item</h3>
	<form action="" method="post" id="updateMenuItem">
		{% csrf_token %}
		<div class="col-lg-12 col-md-12 form-group imagemenu">
			<img src="" width="100px" height="100px" id="image" />
		</div>
		<div class="col-lg-6 col-md-6 form-group">
			<input type="hidden" name="menuid" id="menuid" />
			<p>
				English title: 
				<input type="text" class="form-control" id="title_en" name="title_en" /> 
			</p>
			<p>English description: <textarea rows="4" class="form-control" id="description_en" name="description_en"></textarea> </p>
		</div>
		<div class="col-lg-6 col-md-6 form-group">
			<p>
				Spanish title: 
				<input type="text" class="form-control" id="title_es" name="title_es"/> 
			</p>
			<p>Spanish description: <textarea rows="4" class="form-control" id="description_es" name="description_es"></textarea> </p>
		</div>

		<div class="col-lg-6 col-md-6 form-group">
			<p>
				Price ($): 
				<input type="number" class="form-control" id="price" name="price" step="0.01"/> 
			</p>
			<p>
				Foodtype: 
				<select id="id_foodtype" name="id_foodtype" class="form-control">
					{% for ft in foodtypes %}
					<option value="{{ ft.id }}">{{ ft.foodtype_en }}</option>
					{% endfor %}
				</select>
			</p>
		</div>
		<div class="col-lg-6 col-md-6 form-group">
			<p>
				Special price ($): 
				<input type="number" class="form-control" id="specialprice" name="specialprice" step="0.01"/> 
			</p>
			<p> Published: 
				<input type="checkbox" class="form-control" id="active" name="active"/>  </p>
		</div>

		<div class="col-lg-12 col-md-12 form-group">
			<input type="button" class="btn btn-primary" id="upm-submit" value="Save changes" />
		</div>
	</form>
</div>

{% endblock %}
