{% extends 'client/base.html' %}

{% block body %}

<div class="col-lg-12 col-md-12 col-sm-12">
	<form method="get">
		<fieldset>
			<legend>Truck management</legend>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Truck name</label>
				<input type="text" class="form-control" name="truckname" value="{{ truckname }}" />
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Cusine type</label>
				<select class="form-control" name="cusinetype">
					<option value=''>All</option>
					{% for ct in cusinetypes %}
					<option value="{{ ct.id }}" {% ifequal cusinetype ct.id %}selected{% endifequal %}>{{ ct.trucktype_en }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Truck status</label>
				<select class="form-control" name="truckstatus">
					<option value="">All</option>
					<option value="1" {% ifequal truckstatus "1" %}selected{% endifequal %}>Active</option>
					<option value="0" {% ifequal truckstatus "0" %}selected{% endifequal %}>Inactive</option>
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Confirmed</label>
				<select class="form-control" name="confirmed">
					<option value="">All</option>
					<option value="0" {% ifequal confirmed "0" %}selected{% endifequal %}>No</option>
					<option value="1" {% ifequal confirmed "1" %}selected{% endifequal %}>Yes</option>
				</select>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Registered since</label>
				<input type="date" class="form-control" name="fromdate" value="{{ fromdate }}"/>
			</div>
			<div class="col-lg-2 col-md-2 form-group">
				<label>Registered to</label>
				<input type="date" class="form-control" name="todate" value="{{ todate }}"/>
			</div>
			<div class="col-lg-12 col-md-12 form-group">
				<input type="submit" value="Filter trucks" class="btn btn-primary" />
			</div>
		</fieldset>
	</form>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Truckname</th>
			<th>Cusine type</th>
			<th>Business email</th>
			<th>Business phone</th>
			<th>Business address</th>
			<th>Registered date</th>
			<th>Members</th>
			<th>Is confirmed?</th>
			<th>Is active?</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for truck in trucks %}
		<tr>
			<td>{{ truck.truckname }}</td>
			<td>{{ truck.id_cusinetype.trucktype_en }}</td>
			<td>{{ truck.businessemail }}</td>
			<td>{{ truck.phone }}</td>
			<td>{{ truck.businessaddress }}</td>
			<td>{{ truck.created_at }}</td>
			<td>{{ truck.truckmember_set.count }}</td>
			<td>{{ truck.confirmed }}</td>
			<td>{{ truck.active }}</td>
			<td><a href="{% url 'truck:detail' truck.id %}">Manage</a></td>
		</tr>
		{% endfor %}
		{% if trucks.count == 0 %}
		<tr>
			<td colspan="100">No trucks were found with the current filters</td>
		</tr>
		{% endif %}
	</tbody>
</table>

{% endblock %}